.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #111;
  border-radius: 8px;
  box-shadow: 0 0 20px #0ff;
  color: #fff;
  text-align:center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  background: #222;
  border: none;
  color: #0ff;
  border-bottom: 2px solid #0ff;
}

button {
  padding: 10px 20px;
  background: #0ff;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: yellow;
}

.error {
  color: red;
  margin-top: 10px;
}


