.booking-wrapper {
  max-width: 500px;
  margin: auto;
  background: #1a1a2e;
  padding: 30px;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 0 25px #ff00cc;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  background-color: #0f3460;
  color: #fff;
}

button {
  background-color: #ff00cc;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #ff00cc;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
.my-ticket-button {
  margin-top: 20px;
  background-color: #00ffff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 12px #00ffff;
  transition: transform 0.3s ease;
}

.my-ticket-button:hover {
  transform: scale(1.05);
}
